<%- partial('_partial/head') %>
<body class="<% if (is_home) { %>index<% } %>">
  <div class="page">
    <div id="main" class="main">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="content">
        <section class="wrapper"><%- body %></section>
      </div>
    </div>
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
  <script src="/js/main.min.js?v=201605281541"></script>
</body>
</html>